#nab {
    height: 50px;
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#left {
    height: normal;
    width: 20%;
    /* border: 1px solid black; */
    margin: 15px;
}

#right {
    line-height: normal;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    /* padding: 15px; */
    margin: 15px;
}